@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}





  /*------------------------------------------------------------------
  [ Button sign in with ]*/
  
  .btn-google {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    line-height: 1.2;
    border-radius: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 85px;
    height: 20px;
    /* border-radius: 5px; */
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
  }
  
  .btn-google::before,
  .btn-face::before {
    content: " ";
    display: flexbox;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 5px;
    background: #a64bf4;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
    background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .btn-face {
    color: #fff;
    background-color: #3b5998;
  }
  
  .btn-face i {
    font-size: 30px;
    margin-right: 17px;
    padding-bottom: 3px;
  }
  
  .btn-google {
    color: red;
    background-color:whitesmoke;
  }
  
  .btn-google img {
    width: 30px;
    margin-right: 15px;
    padding-bottom: 3px;
  }
  
  .btn-face:hover:before,
  .btn-google:hover:before {
    opacity: 1;
  }
  
  .btn-face:hover,
  .btn-google:hover {
    color: #db1111;
  }

  
  h5{
    text-align: center;
    color: aliceblue;
    font-family: Zaptron;
    text-decoration: dotted;

  }
  h3{
    text-align: center;
    color: gold;
    font-family: Le major;
    
    
  }
/* #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  } */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('/static/img/login.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 520px;
    background: transparent;
    border: 2px solid rgba(197, 211, 39, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;


    


    

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: whitesmoke;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
    color: darkblue;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #b89f9f;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.button :hover{
    
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
    
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
    color: fuchsia;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 36px;
        line-height: 50px;
    }

}
