
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Create</title>
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %} ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> 
</head>
<body>
    <nav class="navbar navbar-expand-lg py-3 py-lg-0 px-lg-5" id="bar" style="
    height: 47px;">
        <a href="{% url 'home' %}" class="navbar-brand ml-lg-3">
         
            <img src="{% static 'img/autoz.png' %}" alt="AutoZ" style="width:auto;height:50px;">
            
        </a>
        {% comment %} {% if user.is_authenticated %} {% endcomment %}
    <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
        <div class="navbar-nav mx-auto py-0">
            <a href="{% url 'newcar' %}" class="nav-item nav-link active" id="navele"> Newly Added Car</a>
            <a href="{% url 'popularcar' %}" class="nav-item nav-link" id="navele"> Popular car</a>
            <a href="{% url 'contact' %}" class="nav-item nav-link" id="navele">Contact</a>
        </div>
        {% comment %} <a href="{% url 'profile' user.id %}" id="register" class="btn btn-primary py-2 px-4 mx-3 d-none d-lg-block">Profile</a> {% endcomment %}
        <a href="{% url 'logout' %}" id="register" class="btn btn-primary py-2 px-4 d-none d-lg-block">Logout</a>
    </div>
    {% comment %} {% endif %} {% endcomment %}
    </nav>


    <div class ='col-sm-6 col-sm-offset-3'>
        <div class="panel panel-primary">
        <p class="list-group-item active">
            <strong><span class="glyphicon glyphicon-tag"></span> Book Your Car</strong>
          </p><br>
        <form method="POST" action="" >{% csrf_token %}
        
              {{form|crispy}}
        </div>
            </div>
          <div class="form-group row">
            <div class="col-sm-offset-3 col-sm-10">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Book</button>
            </div>
          </div>
        </form>
    
</body>

</html>